body {
    font-family: nomanray, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffff;

    scroll-behavior: 20px;
    scale:500px;
    stroke-linecap: 20px #9090;
    transform: scale(3);


}

.container {
    background: #ffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px 0;
}
 